### <font color = 'red'> การสร้าง DataFrame หลายคอลลั่มน์

In [5]:
import pandas as pd
male = ['tanakorn' , 'chockchai','supakan','napat'] ## <<<<<<
malehight = ['185','184','170','177']                   ## <<<< เชื่อมสอง list นี้ด้วย list zip

data =list(zip(male,malehight))

colsname =[ 'Name','High']
df = pd.DataFrame(data,columns=colsname)

print('===============================')

df
#81

===============================

        Name High
0   tanakorn  185
1  chockchai  184
2    supakan  170
3      napat  177

การใส่ index

In [9]:
import pandas as pd
data = [
    ['tanakorn' ,'185','30000'],
    ['chockchai' , '184','24000'],
    ['pornchai' , '198','23000'],
    ['wera','187','16000']

]

colsname = ['name','heigh','summary']
df = pd.DataFrame(data,columns=colsname,index=['a','b','c','d'])

df['name']['b']
df

        name heigh summary
a   tanakorn   185   30000
b  chockchai   184   24000
c   pornchai   198   23000
d       wera   187   16000

### <font color = 'yellow' > Function shap จะทำหน้าที่ตรวจจำนวนเเถวเเล้วคอลั่มน์ของ Dataframe น้้น

In [11]:
import pandas as pd
data = [
    ['tanakorn' ,'185','30000'],
    ['chockchai' , '184','24000'],
    ['pornchai' , '198','23000'],
    ['wera','187','16000']

]

colsname = ['name','heigh','summary']
df = pd.DataFrame(data,columns=colsname,index=['a','b','c','d'])
print(df)
df.shape

        name heigh summary
a   tanakorn   185   30000
b  chockchai   184   24000
c   pornchai   198   23000
d       wera   187   16000

(4, 3)

 ### <font color = 'yellow' >การตรวจสสอบ ชนิดข้อมูลของ DataFrame ด้วย dtype

กรณีที่เก็บข้อมูลเป็นจำนวนเต็ม จะได้ชนิดข้อมูลเป็น int64 อิงตามตัวเเปรที่เก็ยอยู่ใน Dataframe <br>
ส่วนชนิดของ Dataframe คือ object

In [4]:
import pandas as pd

data = [1,3,5,6,8]
df = pd.DataFrame(data)

print('====================')
print(df)
print('====================')
print(df.dtypes)

====================
   0
0  1
1  3
2  5
3  6
4  8
====================
0    int64
dtype: object

In [5]:
import pandas as pd

data = [1.3,3,5,6,8]
df = pd.DataFrame(data)

print('====================')
print(df)
print('====================')
print(df.dtypes)

====================
     0
0  1.3
1  3.0
2  5.0
3  6.0
4  8.0
====================
0    float64
dtype: object

In [6]:
import pandas as pd

data = ['tanakorn','chockchai','bb']
df = pd.DataFrame(data)

print('====================')
print(df)
print('====================')
print(df.dtypes)

====================
           0
0   tanakorn
1  chockchai
2         bb
====================
0    object
dtype: object

### <font color= 'yellow' > กรณีเก็บข้อมูลหลายชนิดใน List

In [7]:
import pandas as pd 
data = [
        ['tanakorn',185,30000],['chockchai',184,28888],
        ['bb',181,34444],['olay',170,32222]
    ]
colsname = ['name','heigh','samary']
df = pd.DataFrame(data,columns=colsname)

df.dtypes

name      object
heigh      int64
samary     int64
dtype: object

#### <font color='yellow'>การสร้าง Dataframe จาก Dict

In [8]:
import pandas as pd 

data = [
        {'name' :'korn','heigh':185},
        {'name' :'mee','heigh':184},
        {'name' :'bb','heigh':181}


]
df = pd.DataFrame(data)
df

   name  heigh
0  korn    185
1   mee    184
2    bb    181

#### <font color='yellow'>การสร้าง Dataframe จาก Dict (เเบบที่ 2)

In [10]:
import pandas as pd 
person = ['korn', 'mee','bb']
heigh = [185,184,181]
age = [19,21,20]

data = {
        'name' : person,
        'hihgt' : heigh,
        'age' : age
}

df = pd.DataFrame(data)
df

   name  hihgt  age
0  korn    185   19
1   mee    184   21
2    bb    181   20

### <font color = 'red'>การรวม Dataframe เข้าด้วยกันโดยใช้ append()

In [ ]:
import pandas as pd 
import numpy as np

data1 =  [['tanakorn',185,30000],['chockchai',184,28888],
        ['bb',181,34444],['olay',170,32222]]

data2 = [['tem',184,24400],
         ['kim',171,13333]
         ]


colsname = ['name','heigh','samary']

df1= pd.DataFrame(data1,columns=colsname)
df2= pd.DataFrame(data2,columns=colsname)

df =df1.append(df2,ignore_index =True)

### <font color = 'red'>ปัจจุบันใช้ append ไม่ได้เเล้ว ต้องใช้ <b>concat()</b> เเทน

 >> concat สามารถกำหนดค่า Index ได้เอง

In [2]:
import pandas as pd 
import numpy as np

data1 =  [['tanakorn',185,30000],['chockchai',184,28888],
        ['bb',181,34444],['olay',170,32222]]

data2 = [['tem',184,24400,'บางกอก'],
         ['kim',171,13333,'ดินเเดง']
         ]


colsname1 = ['name','heigh','samary']
colsname2 = ['name','heigh','samary','address']

df1= pd.DataFrame(data1,columns=colsname1,index=[3,4,5,6])
df2= pd.DataFrame(data2,columns=colsname2,index=[1,2])

df = pd.concat([df1,df2])

df

        name  heigh  samary  address
3   tanakorn    185   30000      NaN
4  chockchai    184   28888      NaN
5         bb    181   34444      NaN
6       olay    170   32222      NaN
1        tem    184   24400   บางกอก
2        kim    171   13333  ดินเเดง

<font color= 'yellow' > การรวม Dataframe ตามเเนวคอลลั่มน์

In [11]:
import pandas as pd 

data1 = {
        'customerID':[101,102,103],
        'Fullname': ['Tanakorn','chochchai','napat']
}


data2 = {
        'salarly':[49999,34444,52222]
}

df1 = pd.DataFrame(data1,index=[1,2,3])
df2 = pd.DataFrame(data2,index=[1,2,3])


result = pd.concat([df1,df2],axis=1) ## เป็นการต่อในเเนวนอน Axis = 1
result

   customerID   Fullname  salarly
1         101   Tanakorn    49999
2         102  chochchai    34444
3         103      napat    52222

### <font color= 'yellow'>การเข้าถึงข้อมูลด้วยใน dataframe ด้วย log

In [57]:
import pandas as pd 

data1 = {
        'customerID':[101,102,103],
        'Fullname': ['Tanakorn','chochchai','napat']
}


data2 = {
        'salarly':[49999,34444,52222]
}

df1 = pd.DataFrame(data1,index=[1,2,3])
df2 = pd.DataFrame(data2,index=[1,2,3])


result = pd.concat([df1,df2],axis=1) ## เป็นการต่อในเเนวนอน Axis = 1
##result.iloc[[False,False,True]]
result.iloc[1,[0,1]] 
# df = result.iloc[result['salarly']>30000]
# df

customerID          102
Fullname      chochchai
Name: 2, dtype: object