## <font color='yellow'> พื้นฐานการทำงานกับข้อมูลด้วย Pandas </font>

>> การเเสดงข้อมูลในอาเรย์ ด้วย DataFrame()

In [2]:
import pandas as pd
import numpy as np

arr = np.array([[100,200,300],
                [400,500,600],
                [700,800,900]],np.int32)

print(pd.DataFrame(arr))

     0    1    2
0  100  200  300
1  400  500  600
2  700  800  900

### <font color = 'yellow'> Drop column

 >> สามารถระบุได้หลายคอลลั่ม

In [6]:
import pandas as pd 

data = {
    'ชื่อ': ['Tanakorm','chockchai','supakarn'],
    'จังหวัด' :['Prachin','chonburi','rangsit']
}

df = pd.DataFrame(data)
result = df.drop(columns='จังหวัด') # <<<<<<<<<<
result

        ชื่อ
0   Tanakorm
1  chockchai
2   supakarn

### <font color= 'yellow'>Drop Row

>> สามารถระบุหลายเเถวได้

In [5]:
import pandas as pd 

data = {
    'ชื่อ': ['Tanakorm','chockchai','supakarn'],
    'จังหวัด' :['Prachin','chonburi','rangsit']
}

df = pd.DataFrame(data)
result = df.drop(index=0) #  กรณีนี้เอาเเถวเเรกออก
result

        ชื่อ   จังหวัด
1  chockchai  chonburi
2   supakarn   rangsit

## <font color='yellow'>การถอดค่าที่ซ้ำกันออกจาก DataFrame<br></font>
### <font color='red'>ด้วยฟังก์ชั่น drop_duplicates()

In [9]:
import pandas as pd

data = {

        'A':[1,2,1,2,3,1,2,2,1,4]
}
df= pd.DataFrame(data)
result = df.drop_duplicates()
result

   A
0  1
1  2
4  3
9  4

>> กรณีจะดูว่าค่าที่ซ้ำกัน ตัวล่าสุดอยู่ตำเเหน่งไหน ให้เติม keep = 'last'

In [11]:
import pandas as pd

data = {

        'A':[1,2,1,2,3,1,2,2,1,4]
}
df= pd.DataFrame(data)
result = df.drop_duplicates(keep='last') # <<<<<<<<
result

   A
4  3
7  2
8  1
9  4

### <font color = 'yellow' > การเปลี่ยนชื่อคอลลั่มใน DataFrame <br>
## ด้วย rename()

In [20]:
import pandas as pd

data = [

    ['somchai',185,16000],['weerachai',175,175000],

     ['pornchai',182,20000],['weera',183,19900]
     
     ]


colsname = ['ชื่อ','ส่วนสูง','เงินเดือน']
df1 = pd.DataFrame(data,columns=colsname)
df2 = df1.rename(columns={
                    'ชื่อ' : 'Name',
                    'ส่วนสูง' : 'High',
                    'เงินเดือน' : 'salary'

})


df2

        Name  High  salary
0    somchai   185   16000
1  weerachai   175  175000
2   pornchai   182   20000
3      weera   183   19900

### <font color = 'red'> การเรียกใช้ฟังก์ชั่นโดย Apply

In [4]:
import numpy as np 
import pandas as pd 

arr  = np.array([
                [100,200,300],
                [400,500,600],
                [700,800,900]
                ])

df = pd.DataFrame(arr,columns=['kuy','hee','tad'])

def Add(x):
    return x + 5 

result = df.apply(Add)
result

   kuy  hee  tad
0  105  205  305
1  405  505  605
2  705  805  905

### <font color = 'yellow' >Lamda คือฟังก์ชั่นคล้ายๆ Arrow funtion

In [7]:
import numpy as np 
import pandas as pd 

arr  = np.array([
                [100,200,300],
                [400,500,600],
                [700,800,900]
                ])

df = pd.DataFrame(arr,columns=['kuy','hee','tad'])

def Add(x):
    return x + 5 

result = df.apply(lambda x: x - 1 ) #<<<<<<<<<<<<<<
result

   kuy  hee  tad
0   99  199  299
1  399  499  599
2  699  799  899

>> <font color = 'yellow'>การใช้งานฟังก์ชั่น เฉพาะคอลลั่มน์ หรือแถว <br>\
สามารถกำหนดได้โดย ใส่ค่า axis ในค่าพารามิเตอร์

### <font color = 'red' >โครงสร้างข้อมูลเเบบ Series ของ pandas

>> Series จะคล้ายกับ Array 1 D เเต่จะนำมาเเสดงผลในรูปเเบบของ pd.series

In [4]:
import pandas as pd 

data = [1,2,4,5,6,7,8]
ps = pd.Series(data)

print(ps)
print (type(ps))

0    1
1    2
2    4
3    5
4    6
5    7
6    8
dtype: int64
<class 'pandas.core.series.Series'>

<font color='yellow'>การกำหนด  index ให้กับ Series

In [6]:
import pandas as pd 

data = [1,2,4]
ind = ['one','two','three']
ps = pd.Series(data,index=ind) <<<<< 

print(ps)
print (type(ps))

one      1
two      2
three    4
dtype: int64
<class 'pandas.core.series.Series'>